body
{
    background-color: #2A2B29;
}

.container
{
    background-color: #fff;
    margin-left: 25vw;
    margin-right: 25vw;
    padding: 5%;
    display: table-caption;
    width: 500px;
}

.box
{
    padding: 2%;
}
