body
{
background-color: black;
}

.box
{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.container
{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: #fff;
    margin-left: 35%;
    margin-right: 35%;
}


