@font-face{
    font-family: titulo;
    src: url('../fonts/CinzelRegular.ttf');
}

@font-face{
    font-family: texto;
    src: url('../fonts/RalewaySemiBold.ttf');
}

*
{
    margin: 0;
    padding: 0;
    font-family: texto;
    font-size: 1.12rem;
    box-sizing: border-box;

}

a{
    text-decoration: none;
    color: black;
}

.logout{
    margin-right: 30px;
}

p, span
{
    font-size: 1.3rem;
}

.logo
{
    width: 20%;
    cursor: pointer;
    background-color: none;
    transition: transform ease-in-out 150ms;
}

.logo:hover
{
    transform: scale(1.1);
}

.banner
{
    width: 100%;
}

header
{
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 2px solid black;
    z-index: 1;
    height: 10vh;
    width: 100%;
}

header h2
{
    color: #5c6066;
    cursor: pointer;
    transition: color ease-in-out 100ms;
}

header h2:hover
{
    color: #c40001;
}

.ladoHead
{
    align-items: center;
    width: 50%;
}

#lesquerdoHead
{
    display: flex;
    justify-content: space-between;
}

#ldireitoHead{
    display: flex;
    justify-content: flex-end;
}

#ldireitoHead form
{
    display: flex;
    align-items: center;
    padding: 0 2%;
    border-radius: 10px;
    border: 2px solid black;
    width: 55%;
    margin:  0 2.5rem;
}



.ladoHead h1
{
    font-family: titulo;
    font-size: 1.5rem;
    cursor: pointer;
}


.login
{
    margin-left: 15px;
    background-color: #860000;
    height: 100%;
    width: 38%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    border: none;
    transition: background-color ease-in-out 150ms;
}

.login:hover
{
    background-color: #272727;
}

.pesquisa
{
    display: flex;
    border: none;
    outline: none;
    width: 100%;
    padding: 1rem;
}

/* Hero*/


.hero
{
    background-color: #272727;
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}


.ldireito img
{
    height: 444.95px;
    width: 600px;
    margin-left: 0px !important;
}

.hero i
{
    font-size: 1.25rem;
    margin-right: 10px;
}

.hero > #lesquerdo
{
    flex-direction: column;
    color: white;
    line-height: 1.5;
    align-items: flex-start;
    width: 63%;
    padding: 3% 6%;
}

.titulo
{
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.containerCriar
{
    background-color: white;
    color: black;
    padding: 2.5%;
    width: 58%;
    margin-top: 1rem;
    border-radius: 8px;
}

.containerCriar p{
    padding-bottom: 5px;
}


.caixaCriar
{
    display: flex;
    max-width: 519px;
    font-size: 50px;
}

.caixaCriar form
{
    width: 50%;
}

.caixaCriar form input
{
    width: 100%;
    margin-right: 10px; /* Espaçamento entre input e botão, ajuste conforme necessário */
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px; /* Ajuste conforme necessário */
}

.botaoCriar {
    display: flex;
    width: 50%; /* Largura desejada para o botão, ajuste conforme necessário */
    background-color: #c40001;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px; /* Ajuste conforme necessário */
    margin-left: 0px;
}

.txtBotao
{
    margin-left: 5px; /* Ajuste conforme necessário */
}





/* Avaliações */

.containerClientes
{
    height: 65vh;
    background-color: #860000;
    color: white;
    padding: 3%;

}


.tituloClientes
{
    text-align: center;
    font-size: 2.3rem;
}

.avaliacoes
{
    display: flex;
    justify-content: space-around;
}

.avaliacao
{

    height: 30vh;
    width:30vw;
    border: #7a7a7a solid 2px;
    border-radius: 9px;
    margin-top: 4rem;
    background-color: white;
    color: black;
    padding:  1% 2.5%;
    transition: transform ease-in-out 200ms;
}

.avaliacao:hover
{
    transform: scale(1.04);
}


.SuperiorAvaliacao
{
    margin: 2% 0;
    padding: 0 2%;
    display: flex;

}


.textoAvaliacao
{
    display: inherit;
flex-direction: row;
}

.stars
{
    width: 5.5rem;
    height: 70%;
}

.avaliacao .guest
{
    width: 3.5rem;
    height: 3.5rem;
}



.textoAvaliacao
{
    display: inherit;
    flex-direction: column;
}


footer
{
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

footer img
{
    width: 30%;
    cursor: pointer;
    transition: transform ease-in-out 250ms;
}

footer img:hover
{
    transform: scale(1.05);
}


.opcoes
{
    display: flex;
    justify-content: space-between;
    transition: color ease-in-out 250ms;
    cursor: pointer;
}

.opcoes:hover
{
    color: #c40001;
}

.opcoes p
{
    margin-right:15px;
    font-weight: bold;
    width: 10vw;

}
