
*
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.12rem;
    box-sizing: border-box;

}

p
{
    color: #5c6066;
    line-height: 1.7;
}

#logo
{
    width: 20%;
    cursor: pointer;
    background-color: none;
    transition: transform ease-in-out 150ms;
}

#logo:hover
{
    transform: scale(1.1);
}

#banner
{
    width: 100%;
}

header
{
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 2px solid black;
    z-index: 1;
}

header h2
{
    color: #5c6066;
    cursor: pointer;
    transition: color ease-in-out 100ms;
}

header h2:hover
{

    color: #c40001;
}

header,#lesquerdo, #ldireito
{
    display: flex;
    align-items: center;
    height: 10vh;

}

#lesquerdo, #ldireito
{
    display: flex;
    justify-content: space-between;

}

#lesquerdo
{
    width: 50%;
}

#ldireito
{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}


#login
{
    margin-left: 3rem;
    background-color: #c40001;
    height: 100%;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    border: none;
    border-bottom: 1px solid black;
    transition: background-color ease-in-out 150ms;
}

#login:hover
{
    background-color: #212121;
}


.lupa
{
    font-size: 1.7rem;
    border-radius: 100px;
    padding: 1rem 1.15rem;
    background-color: rgb(246, 246, 246);
    cursor: pointer;
    transition: transform ease-in-out 150ms;

}

.lupa:hover
{
    transform: scale(1.1);
}

/*CARROSSEL*/

#carrossel
{
    cursor: pointer;
    background-image: url("/image/Banner1.jpg");
    background-size: cover;
    height: 70vh;
    width: 100%;
    display: block;
    z-index: -1;

}


#criacaoContas
{
    display: flex;
    justify-content: center;
    background-color:#232323;
    height: 89vh;

}

#fundoContas
{
    background-color:#212121;
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65vh;
    margin-bottom: 2rem;
    padding: 4rem;
    padding-bottom: 2rem;
    top: 10%;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5),
                -15px -15px 15px rgba(0, 0, 0, 0.5),
                -15px 15px 15px rgba(0, 0, 0, 0.5),
                15px -15px 15px rgba(0, 0, 0, 0.5);

}

#fundoContas h1
{
    font-size: 2.3rem;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

#fundoContas button
{
    border: none;
    background-color: #c40001;
    padding: 1rem;
    border-radius: 7px;
    color: white;
    margin-top: 3rem;
    display: none;
}
#empresa
{
    border-right: 1px solid #dde0e6;
    transition: background-image, background-size, ease-in, 250ms;
}

#cliente
{
    transition: background-image, ease-in, 250ms;
}

#cliente button,#empresa button
{
    transition: display, ease-in-out 250ms;
}

#cliente, #empresa
{
    background-color: white;
    height: 100%;
    width: 50%;
    padding: 3rem;
    transition: transform, ease-out 270ms;
}

#empresa p, #cliente p, #empresa h1, #cliente h1
{
    transition: color ease-out 250ms;
}




#empresa:hover,
#cliente:hover {
    transform: scaleY(1.03); /* Aumenta o tamanho no eixo Y */
}

#empresa:hover p,
#empresa:hover h1,
#cliente:hover p,
#cliente:hover h1 {
    color: white; /* Troca a cor do texto para branco */
}

#empresa:hover {
    background-image: url('/image/FundoEmpresa.png'); /* Troca a imagem de fundo
     para a empresa */
     background-size: auto;
}

#cliente:hover {
    background-image: url('/image/FundoCliente 1.png'); /* Troca a imagem de fundo para o cliente */
    background-repeat: no-repeat;
    background-size: cover;
}

#empresa:hover button,
#cliente:hover button {
    display: block; /* Exibe o botão quando o mouse passa sobre o elemento */
}



















#selecaoFiltros
{
    display: flex;
    height: 75vh;
    background-color: #880101;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 6rem;

}


#listFiltros
{
    display: inherit;
    justify-content: space-between;
    align-items: inherit;
    height: 100%;
}

.filtroCard
{
    background-color: white;
    height: 50%;
    width: 11vw;
    padding: 1.5rem;
    border: 2px solid black;
    border-radius: 8px;
    margin-left: 23px;
    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform ease-in-out 280ms;
    cursor: pointer;
}

.filtroCard:hover
{
    transform: scale(1.15);
}

.filtroCard i
{
    font-size: 3rem;
    color: #c70000;
}

.bi-router
{
    margin-top: 2rem;
}

.filtroCard >  p
{
    color: black;

    text-align: center;
}

#textos p
{
    color: #e2e2e2;
    font-size: 1.2rem;
    margin-left: 25px;
}

#textos h1
{
    color: white;
    font-size: 2rem;
    border-radius: 8px;
    margin: 1rem 25px;
}


footer
{
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

footer img
{
    width: 30%;
    cursor: pointer;
    transition: transform ease-in-out 250ms;
}

footer img:hover
{
    transform: scale(1.05);
}


.opcoes
{
    display: flex;
    justify-content: space-between;
    transition: color ease-in-out 250ms;
    cursor: pointer;
}

.opcoes:hover
{
    color: #c40001;
}

.opcoes p
{
    margin-right:15px;
    font-weight: bold;
    width: 10vw;

}


