
*
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.12rem;
    box-sizing: border-box;

}

#logo
{
    width: 20%;
    cursor: pointer;
    background-color: none;

}

#banner
{
    width: 100%;
}

header
{
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;

    position: sticky;
    top: 0;
    background-color: white;

}


header,#lesquerdo, #ldireito
{
    display: flex;
    align-items: center;
    height: 10vh;
}

#lesquerdo, #ldireito
{
    display: flex;
    justify-content: space-between;
}

#lesquerdo
{
    width: 50%;
}

#ldireito
{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}


#login
{
    margin-left: 3rem;
    background-color: #c40001;
    height: 100%;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
}

.lupa
{
    font-size: 1.7rem;
    border-radius: 100px;
    padding: 1rem 1.15rem;
    background-color: rgb(246, 246, 246);
    cursor: pointer;

}

/*CARROSSEL*/

#carrossel
{
    cursor: pointer;
    background-image: url("/image/Banner1.jpg");
    background-size: cover;
    height: 75vh;
    width: 100%;
}


#criacaoContas
{
    display: flex;
    justify-content: center;
}

#fundoContas
{
    background-color: gray;
    width: 75%;
    display: flex;
    justify-content: space-around;
}

