@font-face{
    font-family: 'test';
    src: "{{ asset('font/PalatinoFont.ttf') }}";
}

*
{
    font-family: test;
}

body{
    background-color: #2A2B29;
}

.container{
    display: flex;
}

.logo{
    margin-top: 100px;
    margin-left: 70px;
}

.movi{
    margin-left: 25px;
    margin-top: 150px;
}

form{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 300px;
    height: 500px;
    margin: 10px 10px;
    padding: 20px 20px 20px;
    border-radius: 2%;
}

.entraDados{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.b{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.links:hover{
    color: red
}

.entrar{
    margin-top: 40px;
    margin-left: 45px;
    width: 200px;
    height: 40px;
    color: white;
    background-color: #2A2B29;
    transition: 0.5s;

}

.entrar:hover
{
    color: black;
    background-color: red;
}
