@font-face{
    font-family: titulo;
    src: url('../fonts/CinzelRegular.ttf');
}

h1{
    font-family: titulo;
}

body{
    background-color: #000;
}

.container{
    display: flex;
}

.logo{
    margin-top: 100px;
    margin-left: 200px;
}

.movi{
    margin-left: 1px;
    margin-top: 150px;
}

form{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 300px;
    height: 550px;
    margin: 10px 10px;
    padding: 20px 20px 20px;
    border-radius: 2%;
}

.entraDados{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.b{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.links:hover{
    color: #c40001
}

.buttonEntrar{
    margin-top: 40px;
    margin-left: 50px;
}

.entrar,
button
{

    width: 200px;
    height: 40px;
    color: white;
    background-color: #2A2B29;
    transition: 0.5s;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.entrar:hover
{
    color: #c40001;
}

.divisoria
{
    position: relative;
    text-align: center;
}

.divisoria::before
{
    content: "";
    position: absolute;
    width: 120px;
    border-bottom: dotted 1px black;
    top: 50%;
    left: 0;
}

.divisoria::after{
    content: "";
    position: absolute;
    width: 120px;
    border-bottom: dotted 1px black;
    top: 50%;
    right: 0;
}

.tokens{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.token
{
    color: black;
    background: white;
    margin: 10px 0;
}

.token img
{
    width: 20px;
    height: auto;
}

.token1:hover
{
    color: #c40001;
}

.token2:hover
{
    color: #c40001;
}

.token3:hover
{
    color: #c40001;
}

.icon1
{
    height: 16px;
    width: 20px;
}

.icon2
{
    height: 16px;
    width: 20px;
    padding-top: 2px;
}

.icon3
{
    height: 16px;
    width: 20px;
    padding-top: 2px;
}
