@font-face{
    font-family: titulo;
    src: url('../fonts/CinzelRegular.ttf');
}

@font-face{
    font-family: texto;
    src: url('../fonts/RalewaySemiBold.ttf');
}

*
{
    margin: 0;
    padding: 0;
    font-family: texto;
    font-size: 1.12rem;
    box-sizing: border-box;
}

p, span
{
    font-size: 0.9rem;
}



header
{
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 2px solid black;
    z-index: 1;
    height: 10vh;
    width: 100%;
}

header h2
{
    color: #5c6066;
    cursor: pointer;
    transition: color ease-in-out 100ms;
}

header h2:hover
{
    color: #c40001;
}

 .ladoHead
{
    align-items: center;
    width: 50%;
}

#lesquerdoHead, #ldireitoHead
{
    display: flex;
    justify-content: space-between;
}

#ldireitoHead form
{
    display: flex;
    align-items: center;
    padding: 0 2%;
    border-radius: 10px;
    border: 2px solid black;
    width: 55%;
    margin:  0 2.5rem;
}



.ladoHead h1
{
    font-family: titulo;
    font-size: 1.5rem;
    cursor: pointer;
}


#login
{
    margin-left: 15px;
    background-color: #212121;
    height: 100%;
    width: 38%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    border: none;
    transition: background-color ease-in-out 150ms;
}

#login:hover
{
    background-color: #860000;
}

.pesquisa
{
    display: flex;
    border: none;
    outline: none;
    width: 100%;
    padding: 1rem;
}


/* Main */

main
{
    background-color: #ecebeb;
    padding: 3% 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > .container-vaga
{
    display: inherit;
    flex-direction: column;
    margin-bottom: 5%;
    width: 65%;
    background-color: white;
    padding: 3%;
    border-radius: 8px;
}

.container-vaga h1
{
    margin-bottom:3%;
    font-size: 2rem;
    color: #860000;
}

.container-vaga h2
{
    margin-bottom: 2%;
    font-size: 1.25rem;
}

.container-vaga p
{
    line-height: 1.8;
}

.ver
{
    cursor: pointer;
    text-decoration: none;
    color: rgb(48, 48, 250);
    font-size: 1rem;
}

.txtDetalhe {
    max-height: 0;
    overflow: hidden;
    transition: display 0.5s ease;
}

.txtDetalhe:click {
     /* Um valor grande o suficiente para acomodar o conteúdo */
}


.candidatar button
{
    margin-top: 3%;
    width:35%;
    padding: 2%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #860000;
    color: white;
}
