*
{
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.conteiner
{
    width: 900px;
    height: 800px;
    background-color: #fff;
    align-self: center;
}

.imgPer
{
    background-color: #333;
    width: 90px;
    height: 90px;
    border-radius: 15px;
    position: absolute;
    margin-bottom: 675px;
    margin-left: 20px;
}
