*
{
    display: flex;
}

.conteiner
{
    width: 900px;
    height: 800px;
    background-color: #fff;
    align-self: center;
    border-radius: 15px;
}

.box1
{
    background: #fff;
    flex-direction: column;
}

.box1row2
{
    background-color: #333;
}

h1
{
    background-color: #333;
    margin-top: 20px;
    margin-left: 140px;
    margin-right: 500px;
}

.imgPer
{
    background-color: #333;
    width: 90px;
    height: 90px;
    border-radius: 15px;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;

}
